// ===== PURPLE SHADES =====

$darkest-purple: #1C1E26; //main page background
$darker-purple: rgb(71, 52, 94);
$purple: rgb(95, 73, 121); //e.g. dialog box, for main elements
$lighter-purple: rgb(113, 87, 143); // e.g. inventory bar
$lightest-purple: rgb(132, 106, 161); //buttons, image box
$disabled: rgb(141, 127, 156);

// ===== OTHER KEY COLOURS =====

$spacey-orange: #E56239;

// ===== FONTS =====

$title-font: 'ZCOOL XiaoWei', serif;
$body-font: 'Quicksand', sans-serif;

$title-font-size: 70px;
$body-font-size: 20px;

$title-font-size-mobile: 50px;
$body-font-size-mobile: 16px;

// ===== BREAKPOINTS =====

$mobile: 480px;
$tablet: 1024px;


// ===== TABLETS =====
@media all and (max-width: 1000px) {

}
