@import "_vars.scss";
@import "_typefaces.scss";

body {
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    &::-webkit-scrollbar { 
        display: none; 
    }
    font-family: $body-font;
    font-weight: 400;
    background-color: $darkest-purple;
    background-image:
    radial-gradient(
        #fff 0,
        #fff 6px,
        transparent 6px
    ),
    radial-gradient(
        #fff 0,
        #fff 2px,
        transparent 2px
    ),
    radial-gradient(
        #fff 0,
        #fff 3px,
        transparent 3px
    ),
    radial-gradient(
        #fff 0,
        #fff 1px,
        transparent 1px
    ),
    radial-gradient(
        #fff 0,
        #fff 5px,
        transparent 5px
    ),
    radial-gradient(
        #fff 0,
        #fff 1px,
        transparent 1px
    ),
    radial-gradient(
        #fff 0,
        #fff 2px,
        transparent 2px
    ),
    radial-gradient(
        #fff 0,
        #fff 1px,
        transparent 1px
    ),
    radial-gradient(
        #fff 0,
        #fff 2px,
        transparent 2px
    );
    background-size: 600px 600px;
    background-position:
        25px 58px,
        263px 33px,
        462px 118px,
        121px 209px,
        317px 373px,
        414px 206px,
        158px 430px,
        243px 586px,
        472px 493px;
}

.game-title {
    font-family: $title-font;
    color: #fff;
    text-align: center;
    font-size: $title-font-size;
    @media all and (max-width: $mobile) {
        font-size: $title-font-size-mobile
    }
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    &.naming {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px; 
    }
    @media all and (max-width: 945px) {
        padding: 15px;
    }
}

p, a {
    color: #fff;
    line-height: 1.7em;
    font-size: $body-font-size;
    text-decoration: none;
    transition: color 0.3s;
    @media all and (max-width: $mobile) {
        font-size: $body-font-size-mobile;
    }
}

p {
    opacity: 0.0;
    transition: opacity 1.0s;
}

p.show {
    opacity: 1.0;
    transition: opacity 0.5s;
}

span.choice {
    display: inline-flex;
}

span.choice a {
    background-color: $lightest-purple;
    padding: 5px 20px;
    border-radius: 25px;
    transition: background-color 0.3s;
    margin-right: 20px;
    margin-bottom: 10px;
    &:hover {
        transition: background-color 0.3s;
        background-color: $spacey-orange;
    }
}



.variable-display {
    background-color: $lighter-purple;
    max-width: 900px;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    .inventory-item {
        margin-right: 10px;
        vertical-align: middle;
    }
    img.inventory-item{
        margin-right: 5px;
    }
    @media all and (max-width: $mobile) {
        font-size: $body-font-size-mobile;
    }
}

i {
    margin-right: 5px;
}

.money {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

#money {
    position: absolute;
    bottom: -3px;
    right: -10px;
    background-color: $spacey-orange;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
}


.namebox {
    width: 400px;
    max-width: 100%;
    height: 30px;
    font-family: $body-font;
    font-weight: 400;
    font-size: $body-font-size;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: $purple;
    color: #fff;
    &::placeholder {
        color: #fff;
    }
    @media all and (max-width: $mobile) {
        font-size: $body-font-size-mobile;
    }
}

button {
    height: 40px;
    width: 60px;
    font-family: $body-font;
    font-weight: 400;
    font-size: $body-font-size;
    border-radius: 5px;
    border: none;
    background-color: $spacey-orange;
    color: #fff;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;

    @media all and (max-width: $mobile) {
        font-size: $body-font-size-mobile;
    }

    &:hover {
        background-color: $lightest-purple;
        transition: all 0.2s;
    }

}

.dialog-box {
    background-color: $purple;
    max-width: 900px;
    border-radius: 0px 0px 30px 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    &:focus {
        outline: none !important;
    }
    padding-bottom: 46px;
}

.log {
    background-color: $darker-purple;
    width: 90px;
    height: 45px;
    border-radius: 25px 25px 25px 25px;
    padding: 100px 10px 40px 10px;
    position: absolute;
    bottom: -45px;
    right: 0;
    transition: background-color 0.3s;
    z-index: -1;
    @media all and (max-width: $mobile) {
        padding: 100px 5px 35px 5px;
        width: 70px;
    }
    &:hover {
        transition: background-color 0.3s;
        background-color: $spacey-orange;
    }
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &:focus {
        outline: none !important;
    }
    &:disabled {
        background-color: $disabled;
    }
}

.close-popup {
    background-color: $darker-purple;
    width: 40px;
    height: 40px;
    border-radius: 70px;
    padding-bottom: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.3s;
    margin-top: 0px;
    font-size: 25px;
    font-weight: 700;
    &:hover {
        transition: background-color 0.3s;
        background-color: $spacey-orange;
    }
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &:focus {
        outline: none !important;
    }
}

.log-popup {
    background-color: $lightest-purple;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    max-width: 80%;
    z-index: 1;
    border-radius: 20px;
    height: 500px;
    overflow-y: auto;
    & .log-title {
        font-size: 40px;
        color: $darker-purple;
        font-family: $title-font;
        font-weight: 700;
        margin-bottom: 30px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: $purple;
    border-radius: 0px 20px 20px 0px;;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $darkest-purple; 
    border-radius: 0px 20px 20px 0px;;
  }

.overlay {
    width: 100%;
    height: 100%;
    background-color: $darkest-purple;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.logchoice {
    background-color: $purple;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s;
    margin-right: 20px;
    margin-bottom: 10px;
    color: #fff;
    line-height: 1.7em;
    font-size: $body-font-size;
    @media all and (max-width: $mobile) {
        font-size: $body-font-size-mobile;
    }
}

.image-box {
    background-color: $lightest-purple;
    max-width: 900px;
    border-radius: 30px 30px 0px 0px;

    & img {
        width: 100%;
        border-radius: 25px 25px 0px 0px;
    }
}

.front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}
  

.fade-enter-active{
    transition: opacity 2s;
} 
.fade-leave-active {
    transition: opacity 1s;
  }

.fade-enter, .fade-leave-to {
    opacity: 0;
}


.fade-popup-enter-active{
    transition: all 0.5s;
} 
.fade-popup-leave-active {
    transition: all 0.5s;
  }

.fade-popup-enter, .fade-popup-leave-to {
    opacity: 0;
    top: 100%;
}

.fade-overlay-enter-active{
    transition: opacity 0.5s;
} 
.fade-overlay-leave-active {
    transition: opacity 0.5s;
  }

.fade-overlay-enter, .fade-overlay-leave-to {
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in 1s;
  }
  .bounce-leave-active {
    animation: bounce-in 1s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }