@import "_vars.scss";
@import "_typefaces.scss";

body {
    font-family: 'Thasadith', sans-serif;
    font-weight: 400;
    background-color: #1C1E26;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
    color: #fff;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

p, a {
    color: #fff;
    line-height: 1.7em;
    font-size: 16pt;
    text-decoration: none;
    transition: color 0.3s;
}

p {
    opacity: 0.0;
    transition: opacity 1.0s;
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

a:hover {
    transition: color 0.3s;
    color: #E56239;
}

.variable-display {
    color: green;
    font-size: 16pt;
    text-align: center;
}


.namebox {
    width: 400px;
    height: 30px;
    font-family: 'Thasadith', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-right: 10px;
    background-color: rgb(95, 73, 121);
    color: #fff;
}

.namebox::placeholder {
    color: #fff;
}

button {
    height: 40px;
    width: 60px;
    font-family: 'Thasadith', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #E56239;
    color: #fff;
    transition: background-color 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(95, 73, 121);
    transition: background-color 0.2s;
}